<div class="group-section">
  <div *ngFor="let group of allGroups" class="group">
    <h2>{{ group.name }}</h2>
    <p>{{ group.descripiton }}</p>
    <a [routerLink]="'/group'" [queryParams]="{ id: group.id }">See more</a>
  </div>
</div>

<div class="container">
  <h1>Home page</h1>

  <div *ngIf="signed()" class="new-post-section">
    <div *ngIf="signed()" class="new-post">
      <h3>Create a New Post</h3>
      <form *ngIf="signed()" [formGroup]="postForm" (submit)="createPost()">
        <input
          type="text"
          formControlName="name"
          placeholder="Title"
          required
        />
        <textarea
          formControlName="content"
          placeholder="Content"
          required
        ></textarea>
        <button type="submit">Post</button>
      </form>
    </div>
    <div *ngIf="signed()" class="new-group">
      <h3>Create a New Group</h3>
      <form [formGroup]="groupForm" (submit)="createGroup()">
        <input type="text" formControlName="name" placeholder="Name" required />
        <textarea
          formControlName="description"
          placeholder="Description"
          required
        ></textarea>
        <button type="submit">Post</button>
      </form>
    </div>
  </div>
</div>
<div class="post-list">
  <div *ngFor="let post of allPosts" class="post">
    <h2>{{ post.postName }}</h2>
    <p>{{ post.content }}</p>
    <p><span>Likes:</span>{{ post.likes.length }}</p>
    <p class="author">Posted by: {{ post.user.username }}</p>
    <p class="author">Posted on: {{ post.creationDate }}</p>
    <div class="actions">
      <button class="like-button" (click)="likePost(post)">Like</button>
    </div>
    <div class="comments-section">
      <h3>Comments</h3>
      <ul>
        <li *ngFor="let comment of post.comments">
          <p>{{ comment.content }}</p>
          <p>{{ comment.postedOn }}</p>
        </li>
      </ul>
      <form [formGroup]="commentForm" (submit)="addComment(post.postId)">
        <input
          formControlName="text"
          type="text"
          placeholder="Add a comment"
          required
        />
        <button type="submit">Comment</button>
      </form>
    </div>
  </div>
</div>
